{% extends "base.html" %}
{% load static %}
{% block conteudo %}

    <h1>Bem-vindo ao MackTarefas</h1>
    <h3>Gerencie suas tarefas de forma eficiente!</h3>
    <div class="container">
        <img src="{% static 'logo_mackenzie.png' %}" alt="Logo do Mackenzie" sizes="200,100">
    </div>
    <p style="padding-bottom: 80px;">O Mack Tarefas é uma ferramenta intuitiva que permite aos usuários gerenciar suas atividades diárias de forma organizada. Com funcionalidades como criação, edição e exclusão de tarefas, categorização por status,  acompanhando o progresso do aluno. A interface responsiva garante acessibilidade em diversos dispositivos, enquanto notificações e busca rápida ajudam a manter o foco e a produtividade.</p>
</body>

{% endblock%}