{% extends "base.html" %}
{% block conteudo %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Minhas Tarefas</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Materia</th>
                <th>Descrição</th>
                <th>Prazo</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
            <form method="POST"> {% csrf_token %}
            <tr>
                <td>{{ tarefa.titulo }}</td>
                <td>{{ tarefa.materia }}</td>
                <td>{{ tarefa.descricao }}</td>
                <td>{{ tarefa.prazo }}</td>
                <td>{{ tarefa.status}}</td>
                <td>
                    <button><a href="{% url 'editar_tarefa' tarefa.id %}">Editar</a></button>
                    <button><a href="{% url 'deletar_tarefa' tarefa.id %}"> Deletar</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Nenhuma tarefa encontrada.</td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class ="botao"><a style="text-decoration: none; color: inherit;" href="{% url 'cadastro_tarefas' %}">Adicionar Nova Tarefa</a></button>
</body>
{% endblock %}