{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />

</head>
<body class="bodylog">
    <div class="tarefas">
        <div class="quadro">   
            <h1>Logout</h1>
            <h2>Você foi desconectado com sucesso.</h2>
            <h3><a href="login.html">Voltar para o Login</a></h3>
            <h3><a href="home.html">Voltar para a Homepage</a></h3>
        </div>
    </div>

</body>
</html>